examples/Essay_Writer.json
[
    {
        "id": "130504aeb2f2cf88",
        "type": "tab",
        "label": "Essay Writer",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fcf04d6868bdc5c3",
        "type": "group",
        "z": "130504aeb2f2cf88",
        "name": "Essay Writer",
        "style": {
            "label": true
        },
        "nodes": [
            "964b58e90296159f",
            "70211c4c83419f8b",
            "64a82003506a079d",
            "c8d8a9dacf763b9c",
            "120b67d47404a3ce",
            "4fb78b4b52165acf",
            "b2491fd4b34c621d",
            "0b517862788723c6",
            "39320f8fc302a686"
        ],
        "x": 34,
        "y": 19,
        "w": 892,
        "h": 502
    },
    {
        "id": "6fc088f10e22a706",
        "type": "group",
        "z": "130504aeb2f2cf88",
        "name": "Essay Plan Endpoint",
        "style": {
            "label": true
        },
        "nodes": [
            "6527db850d9cda3e",
            "a446d9770cfdd1f9",
            "bcc5e5bf5caa67e7"
        ],
        "x": 74,
        "y": 599,
        "w": 752,
        "h": 82
    },
    {
        "id": "39a3fbe10d0c965d",
        "type": "group",
        "z": "130504aeb2f2cf88",
        "name": "Essay Research Endpoint",
        "style": {
            "label": true
        },
        "nodes": [
            "eff973e93310ad1e",
            "e0bac2528ea3f437",
            "6f2b48f2ef604049"
        ],
        "x": 74,
        "y": 779,
        "w": 732,
        "h": 82
    },
    {
        "id": "5618ccfd136a891f",
        "type": "group",
        "z": "130504aeb2f2cf88",
        "name": "Essay Write Endpoint",
        "style": {
            "label": true
        },
        "nodes": [
            "eae071a02fb9fe9c",
            "ac209ef91ea3d2dc",
            "ab60f8ac1c81ab42"
        ],
        "x": 74,
        "y": 919,
        "w": 732,
        "h": 82
    },
    {
        "id": "25564f71c42ca62a",
        "type": "group",
        "z": "130504aeb2f2cf88",
        "name": "Essay Critique Endpoint",
        "style": {
            "label": true
        },
        "nodes": [
            "6942d9fb463a7b19",
            "6d64035d2da88741",
            "31dd3644abb77c7d"
        ],
        "x": 74,
        "y": 1059,
        "w": 712,
        "h": 82
    },
    {
        "id": "964b58e90296159f",
        "type": "generate-plan",
        "z": "130504aeb2f2cf88",
        "g": "fcf04d6868bdc5c3",
        "name": "",
        "max_revisions": 2,
        "x": 340,
        "y": 260,
        "wires": [
            [
                "70211c4c83419f8b"
            ]
        ]
    },
    {
        "id": "70211c4c83419f8b",
        "type": "research-content",
        "z": "130504aeb2f2cf88",
        "g": "fcf04d6868bdc5c3",
        "name": "",
        "x": 330,
        "y": 340,
        "wires": [
            [
                "64a82003506a079d"
            ]
        ]
    },
    {
        "id": "64a82003506a079d",
        "type": "write-draft",
        "z": "130504aeb2f2cf88",
        "g": "fcf04d6868bdc5c3",
        "name": "",
        "x": 600,
        "y": 360,
        "wires": [
            [
                "39320f8fc302a686"
            ]
        ]
    },
    {
        "id": "c8d8a9dacf763b9c",
        "type": "critique",
        "z": "130504aeb2f2cf88",
        "g": "fcf04d6868bdc5c3",
        "name": "",
        "x": 840,
        "y": 360,
        "wires": [
            [
                "b2491fd4b34c621d"
            ]
        ]
    },
    {
        "id": "120b67d47404a3ce",
        "type": "http in",
        "z": "130504aeb2f2cf88",
        "g": "fcf04d6868bdc5c3",
        "name": "Essay Endpoint",
        "url": "/essay",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "964b58e90296159f"
            ]
        ]
    },
    {
        "id": "4fb78b4b52165acf",
        "type": "http response",
        "z": "130504aeb2f2cf88",
        "g": "fcf04d6868bdc5c3",
        "name": "",
        "statusCode": "200",
        "headers": {
            "content-type": "application/json"
        },
        "x": 620,
        "y": 60,
        "wires": []
    },
    {
        "id": "b2491fd4b34c621d",
        "type": "research-critique",
        "z": "130504aeb2f2cf88",
        "g": "fcf04d6868bdc5c3",
        "name": "",
        "x": 750,
        "y": 480,
        "wires": [
            [
                "64a82003506a079d"
            ]
        ]
    },
    {
        "id": "0b517862788723c6",
        "type": "debug",
        "z": "130504aeb2f2cf88",
        "g": "fcf04d6868bdc5c3",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 120,
        "wires": []
    },
    {
        "id": "6527db850d9cda3e",
        "type": "http in",
        "z": "130504aeb2f2cf88",
        "g": "6fc088f10e22a706",
        "name": "",
        "url": "/essay/plan",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 640,
        "wires": [
            [
                "bcc5e5bf5caa67e7"
            ]
        ]
    },
    {
        "id": "a446d9770cfdd1f9",
        "type": "http response",
        "z": "130504aeb2f2cf88",
        "g": "6fc088f10e22a706",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 740,
        "y": 640,
        "wires": []
    },
    {
        "id": "bcc5e5bf5caa67e7",
        "type": "generate-plan",
        "z": "130504aeb2f2cf88",
        "g": "6fc088f10e22a706",
        "name": "",
        "max_revisions": 2,
        "x": 420,
        "y": 640,
        "wires": [
            [
                "a446d9770cfdd1f9"
            ]
        ]
    },
    {
        "id": "eff973e93310ad1e",
        "type": "http in",
        "z": "130504aeb2f2cf88",
        "g": "39a3fbe10d0c965d",
        "name": "",
        "url": "/essay/research",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 820,
        "wires": [
            [
                "e0bac2528ea3f437"
            ]
        ]
    },
    {
        "id": "e0bac2528ea3f437",
        "type": "research-content",
        "z": "130504aeb2f2cf88",
        "g": "39a3fbe10d0c965d",
        "name": "",
        "x": 470,
        "y": 820,
        "wires": [
            [
                "6f2b48f2ef604049"
            ]
        ]
    },
    {
        "id": "6f2b48f2ef604049",
        "type": "http response",
        "z": "130504aeb2f2cf88",
        "g": "39a3fbe10d0c965d",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 720,
        "y": 820,
        "wires": []
    },
    {
        "id": "eae071a02fb9fe9c",
        "type": "http in",
        "z": "130504aeb2f2cf88",
        "g": "5618ccfd136a891f",
        "name": "",
        "url": "/essay/write",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 960,
        "wires": [
            [
                "ac209ef91ea3d2dc"
            ]
        ]
    },
    {
        "id": "ac209ef91ea3d2dc",
        "type": "write-draft",
        "z": "130504aeb2f2cf88",
        "g": "5618ccfd136a891f",
        "name": "",
        "x": 460,
        "y": 960,
        "wires": [
            [
                "ab60f8ac1c81ab42"
            ]
        ]
    },
    {
        "id": "ab60f8ac1c81ab42",
        "type": "http response",
        "z": "130504aeb2f2cf88",
        "g": "5618ccfd136a891f",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 720,
        "y": 960,
        "wires": []
    },
    {
        "id": "6942d9fb463a7b19",
        "type": "http in",
        "z": "130504aeb2f2cf88",
        "g": "25564f71c42ca62a",
        "name": "",
        "url": "/essay/critique",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 1100,
        "wires": [
            [
                "6d64035d2da88741"
            ]
        ]
    },
    {
        "id": "6d64035d2da88741",
        "type": "critique",
        "z": "130504aeb2f2cf88",
        "g": "25564f71c42ca62a",
        "name": "",
        "x": 440,
        "y": 1100,
        "wires": [
            [
                "31dd3644abb77c7d"
            ]
        ]
    },
    {
        "id": "31dd3644abb77c7d",
        "type": "http response",
        "z": "130504aeb2f2cf88",
        "g": "25564f71c42ca62a",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 700,
        "y": 1100,
        "wires": []
    },
    {
        "id": "eadd7d8224bc8319",
        "type": "http in",
        "z": "130504aeb2f2cf88",
        "name": "",
        "url": "/essay/critique/research",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 1220,
        "wires": [
            [
                "7590627e38d06db6"
            ]
        ]
    },
    {
        "id": "7590627e38d06db6",
        "type": "research-critique",
        "z": "130504aeb2f2cf88",
        "name": "",
        "x": 470,
        "y": 1220,
        "wires": [
            [
                "2d16a1b139d34dfa"
            ]
        ]
    },
    {
        "id": "2d16a1b139d34dfa",
        "type": "http response",
        "z": "130504aeb2f2cf88",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 700,
        "y": 1220,
        "wires": []
    },
    {
        "id": "39320f8fc302a686",
        "type": "switch",
        "z": "130504aeb2f2cf88",
        "g": "fcf04d6868bdc5c3",
        "name": "",
        "property": "payload.revision",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "gte",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 750,
        "y": 300,
        "wires": [
            [
                "c8d8a9dacf763b9c",
                "0b517862788723c6"
            ],
            [
                "4fb78b4b52165acf"
            ]
        ]
    }
]