examples/Simple Example.json
[
    {
        "id": "b81ecf0a769a1849",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9b467a289a92a16a",
        "type": "inject",
        "z": "b81ecf0a769a1849",
        "name": "Prompt",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "What is the meaning of life?",
        "payloadType": "str",
        "x": 230,
        "y": 240,
        "wires": [
            [
                "096cbecbf4423ed4"
            ]
        ]
    },
    {
        "id": "096cbecbf4423ed4",
        "type": "petals",
        "z": "b81ecf0a769a1849",
        "model": "auto",
        "frequency_bias": 0,
        "logit_bias": true,
        "logprobs": true,
        "top_logprobs": 0,
        "max_tokens": 100,
        "n_value": 0,
        "presence_penalty": 0,
        "stop_": "",
        "stream": false,
        "temperature": 0.6,
        "top_p": 0,
        "x": 450,
        "y": 240,
        "wires": [
            [
                "01a088f06de47a2d"
            ]
        ]
    },
    {
        "id": "01a088f06de47a2d",
        "type": "debug",
        "z": "b81ecf0a769a1849",
        "name": "Generated Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 240,
        "wires": []
    }
]